*:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  .header {
    margin: 0;
    padding: 0;
  }


/* START NAV*/
.nav /*menu*/ {
  background:black;
  height: 75px;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3.5px solid #f42ac8;
  box-shadow: 5px 0 10px #f42ac8(0, 0, 0, .6);
  }

.logo /*logo*/{
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
    color:  #dbd1d9;
}

.nav_list /*menu-items*/{
  display: flex;
  list-style: none;
  margin-right: 30px;

}
.nav_list li{
    border-radius: 3px;
    margin: 0 5px;
}

.nav_list a {
  padding: 1px 5px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  color:#d7f0e3;
}

.nav_list li:hover, li:active{
  background-color: #f42ac8;
  transition: .4s;
}

.btn_menu{
  margin-right: 30px;
  font-size: 25px;
  color: rgb(207, 176, 200);
  cursor: pointer;
  display: none;
}

ul.show{
  top: 65px;
}

@media screen and (max-width: 952px){

  .logo{
    font-size: 20px;
    padding-left: 35px;
  }

  .nav-list li a{
    font-size: 16px;
  }
}

@media screen and (max-width: 858px) {
  .nav{
    height: 65px;
  }

  .btn_menu{
    display: inline-flex;
  }

  .nav_list{
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    /* background: rgb(122, 67, 113); */
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column; 
 }

 .nav_list li{
   margin: 30px 0 0 0;
   line-height: 30px;
 }

 .nav_list li:hover{
   background: none;
 }

 .nav_list li a{
   font-size: 20px;
   color: rgb(207, 176, 200);
   font-weight: bold;
 }

 .nav_list li a:hover{
   color: #f42ac8;
 }

 .logo{
   font-size: 25px;
   padding-left: 35px;
 }
  
}

@media screen and (max-width:858px) and (orientation: landscape) {
  .nav_list li{
    margin: 5px 0 0 0;
  }

  .nav_list{
    overflow: scroll;
    height: calc(100% - 65px);
  }
}
/* END NAV*/